%h2 The Leaderboard
%h5 (it's all about WINNING!)

- (0...@shots.count).each do |i|
  %div{:class => 'leader-title'}
    %a{:href => @shots[i].creation_url}
      %h3 #{i + 1}. #{@shots[i].title} by #{@shots[i].author_name}
      %h4 (#{@shots[i].upvotes} wins, #{@shots[i].downvotes} losses)
  %div{:class => 'leader-shot'}
    %a{:href => @shots[i].creation_url}
      %img{:class => 'leader-shot', :src => "#{@shots[i].image_url}"}
